body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0; /* צבע רקע של הגוף */
}

header {
    background-color: #FFA500; /* צבע רקע כתום של הכותרת */
    color: white; /* צבע טקסט של הכותרת */
    padding: 1em;
    text-align: center;
}

main {
    margin: 2em;
}

footer {
    background-color: #FFA500; /* צבע רקע כתום של התחתית */
    color: white; /* צבע טקסט של התחתית */
    text-align: center;
    padding: 1em;
    position: fixed;
    width: 100%;
    bottom: 0;
}
}
